# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# insforge local
insforge/.branches
insforge/.temp
insforge/tables/

# eval outputs
evals/results/

# OS
Thumbs.db

# InsForge & AI agent skills
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
node_modules
